<a href="https://colab.research.google.com/github/JinnnnyHong/BaekJoon/blob/main/23_09_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 9325

p와 q의 곱이 각 테스트케이스별로 따로 더해져야하는 것과 테스트케이스 안에서 p*q의 값이 축적되어야 하는 것이 포인트였고, 이에 c를 처음 for문 안으로 넣어 해결하였다.

In [17]:
for _ in range(int(input())):
  s = int(input())
  c = 0
  for k in range(int(input())):
    p, q = map(int, input().split())
    c += p*q

  print(c+s)

2
10000
2
1 2000
3 400
13200
50000
0
50000

# 10833

In [ ]:
L = []
for i in range(int(input())):
  a, b = map(int, input().split())
  c = b % a
  L.append(c)
print(sum(L))

### 2752

In [11]:
a = list(map(int, input().split()))
a.sort()
print(a[0], a[1], a[2])

3 1 2
1 2 3

### 2490

count 함수를 이용해 0의 개수에 따른 결과값 출력

In [18]:
for i in range(3):
  a = list(map(int, input().split()))
  if a.count(0) == 0:
    print('E')
  elif a.count(0) == 1:
    print('A')
  elif a.count(0) == 2:
    print('B')
  elif a.count(0) == 3:
    print('C')
  else:
    print('D')

0 1 0 1
B
1 1 1 0
A
0 0 1 1
B

### 2484

In [32]:
L = []
for i in range(5):
  a = int(input())
  L.append(a)
L.sort()
print(int(sum(L)/len(L)))
print(L[2])

10
40
30
60
30
34
30

### 10093

같은 수 사이에는 두 수 사이의 수가 없지만, 따로 처리를 해주지 않을 경우 -1 출력이므로 else 문으로 처리

In [53]:
a,b = map(int, input().split())
if a > b:
  print(a-b-1)
  for i in range(b+1, a):
    print(i, end = ' ')
elif b > a:
  print(b-a-1)
  for j in range(a+1, b):
    print(j, end = ' ')
else:
  print(0)

5 5
0

### 1267

In [78]:
n = int(input())
k = list(map(int, input().split()))
Y = M = 0
for i in k:
   Y +=  10*(int(i/30)) + 10
   M  += 15*(int(i/60)) + 15
if Y > M:
  print("M", M)
elif Y < M:
  print("Y", Y)
else:
  print("Y M", M)

3
40 40 40
M 45

### 2445

In [92]:
n = int(input())
for i in range(1, n+1):
  print("*"*i + ' '*(2*n-2*i)+ "*"*i)
  i += 1
for j in range(n+2, 2*n+1):
  print("*" *(2*n-j+1) + ' '*(-2*n+2*j-2)+ "*"*(2*n-j+1) )

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

### 2446

In [96]:
n = int(input())
for i in range(n, 0, -1):
    print(" " * (n-i) + "*" * (2*i-1))
for j in range(2,n+1):
    print(" " * (n-j) + "*" * (2*j-1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

###2309

In [102]:
L = []
for i in range(9):
    L.append(int(input()))
L.sort()
sum_ = sum(L)
for i in range(len(L)):
    for j in range(i + 1, len(L)):
        if sum_ - L[i] - L[j] == 100:
            for k in range(len(L)):
                if k == i or k == j:
                    pass
                else:
                    print(L[k])
            exit()

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23