<a href="https://colab.research.google.com/github/JinnnnyHong/BaekJoon/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EC%A0%9C_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2574

In [ ]:
a = str(input())
if a == 'A+':
    print(4.3)
elif a == 'A0':
    print(4.0)

elif a == 'A-':
    print(3.7)

elif a == 'B+':
    print(3.3)
elif a == 'B0':
    print(3.0)

elif a == 'B-':
    print(2.7)

elif a == 'C+':
    print(2.3)
elif a == 'C0':
    print(2.0)

elif a == 'C-':
    print(1.7)

elif a == 'D+':
    print(1.3)
elif a == 'D0':
    print(1.0)

elif a == 'D-':
    print(0.7)
elif a == 'F':
  print(0.0)

A0
4.0

### 2476

In [ ]:
L = []
for _ in range(int(input())):
  a, b, c = map(int, input().split())
  if a == b == c:
    L.append(10000 + a*1000)
  elif a == b and a != c:
    L.append(1000 + a*100)
  elif a == c and a != b:
    L.append(1000 + a*100)
  elif b == c and b != a:
    L.append(1000 + b*100)
  elif a != b and b != c and a != c:
    L.append(max(a,b,c) * 100)
print(max(L))

3
3 3 6
2 2 2
6 2 5
12000

### 5063

In [ ]:
for _ in range(int(input())):
  r,e,c = map(int, input().split())
  if r < e-c:
    print('advertise')
  elif r == e-c:
    print('does not matter')
  else:
    print('do not advertise')

3
0 100 79
advertise
100 130 30
does not matter
-100 -70 40
do not advertise

### 10102

In [ ]:
v = int(input())
k = str(input())
C = []
D = []
for _ in range(len(k)):
  for A in k:
    C.append(A)
    for B in k:
      D.append(B)
  if len(C) < len(D):
    print(B)
  elif len(C) > len(D):
    print(A)
  else:
    print('tie')

5
AABBA
A
A
A
A
A

### 5717

In [ ]:
while True:
  a, b = map(int, input().split())
  if a==0 and b == 0:
    break
  else:
    print(a+b)

0 0

### 9610

In [ ]:
Q1 = 0
Q2 = 0
Q3 = 0
Q4 = 0
AXIS = 0
for i in range(int(input())):
  a, b = map(int, input().split())
  if a > 0 and b>0:
    Q1 += 1
  elif a < 0 and b >0:
    Q2 += 1
  elif a <0 and b <0:
    Q3 += 1
  elif a >0 and b <0:
    Q4 += 1
  elif a == 0 or b ==0:
    AXIS += 1
print('Q1: %d'%(Q1))
print('Q2: %d'%(Q2))
print('Q3: %d'%(Q3))
print('Q4: %d'%(Q4))
print('AXIS: %d'%(AXIS))

5
0 0
0 1
1 1
3 -3
2 2
Q1: 2
Q2: 0
Q3: 1
Q4: 0
AXIS: 2

### 10103

In [ ]:
a = 100
b = 100
for _ in range(int(input())):
  k, j = map(int,(input().split()))
  if k > j:
    b -= k
  elif k < j:
    a -= j
print(a)
print(b)

4
5 6
6 6
4 3
5 2
94
91

### 2914

In [ ]:
a, b = map(int,input().split())
c = a *b - a + 1
print(c)

10 10
91

### 1934

In [ ]:
import math

for i in range(int(input())):
  a, b = map(int, input().split())
  print(math.lcm(a,b))

1
1 45000
45000

### 10156

In [ ]:
a,b,c = map(int,input().split())
if a * b > c:
  print(a*b-c)
else:
  print(0)

20 6 120
0

### 3009

In [ ]:
a,b = map(int, input().split())
c,d = map(int, input().split())
e,f = map(int, input().split())
if a==c & b == f:
  print(e, d)
elif a == c and d == f:
  print(e, b)
elif a == e & b == d:
  print(c, f)
elif a == e and d == f:
  print(c, b)
elif c == e and d == b:
  print(a, f)
elif c == e and b == f:
  print(a, d)
elif c == a and d == f:
  print(e, b)
elif c == a and b == f:
  print(e, d)

30 20
10 10
10 20
30 10

### 7567

In [ ]:
a = list(str(input()))
k =0
for i in range(len(a)):
  if i == 0:
    k += 10
  elif a[i] == a[i-1]:
    k += 5
  else:
    k += 10
print(k)

((((
25

### 10102

In [ ]:
t = int(input())
a = list(str(input()))
A = B = 0

for i in a:
  if i == "A":
    A += 1
  else:
    B += 1

if A >B:
  print("A")
elif A < B :
  print("B")
elif A == B:
  print('Tie')

3
AAB
A

### 10886

In [ ]:
a = 0
b = 0
for i in range(int(input())):
  k = int(input())
  if k == 1:
    a +=1
  else:
    b += 1
if a > b:
  print("Junhee is cute!")
else:
  print("Junhee is not cute!")

3
1
0
0
Junhee is not cute!

### 10162

In [ ]:
T = int(input())
if T % 10 != 0:
  print(-1)
else:
  A = B = C = 0
  A = T//300
  B = (T % 300)//60
  C = ((T %300) % 60) //10
  print(A, B, C)

100
0 1 4

### 1977

In [ ]:
M = int(input())
N = int(input())
L = []
for i in range(M, N+1):
  if i**(1/2) == int(i**(1/2)):
    L.append(i)
if len(L) == 0:
  print(-1)
else:
  print(sum(L))
  print(min(L))

75
80
-1

### 2440

In [ ]:
n = int(input())
while True:
  print('*'*n)
  n -= 1
  if n ==0:
    break

5
*****
****
***
**
*

### 2441

In [ ]:
n = int(input())
i = 0
while i < n:
  k = n-i
  print(" "*i + "*"*k)
  i += 1

5
*****
 ****
  ***
   **
    *

### 2609

In [ ]:
import math
a,b = map(int, input().split())
print(math.gcd(a,b))
print(math.lcm(a,b))

24 18
6
72

### 2748

In [ ]:
n = int(input())
L = []
L.append(0)
L.append(1)
for i in range(2,n+1):
    L.append(L[i-1]+L[i-2])

print(L[n])

10
55

### 2443

In [ ]:
a = int(input())
for i in range(1, a+1):
  b = " " * (a-i) + "*" *(2*i -1)
  print(b)

3
  *
 ***
*****